*{
    font-size: 12px;
}

main{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0 1rem;
}

section{
    /* margin: 0; */
}

.section1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100%;
    width: auto;
    border-right: none;
}

.section1_box{
    position: relative;
    top: 0;
    transform: translateY(0);
}

#clock{
    width: 13rem;
    height: 13rem;
}

.section2{
    width: auto;
}